.item{
  /*font-family: "HelveticaNeue", helvetica; display: flex; font-size: 14px; color: rgba(255,255,255,0.8); padding: 20px;*/
  -moz-transition: all 2s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  opacity: 1;
  top: -100px;
  max-width: 2000px;
}

.item.hidden{
  opacity: 0; top: 0px; max-height: 0;
}
